:root {
 --iriscolor: #4d5ae5;
}
img  {
    display: block;
    max-width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
}

.container {
    padding-top: 12px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.5);
}

section {
    padding-top: 120px;}

    

.post1 {
    display: flex;
    align-self: center;
    justify-content: ;
    padding: 20px;
    width: 0 auto;
    background-color: teal;
    border: 2px solid #245624;
    border-radius: 50px;
    margin-top: 20px;
}
.post-thumb1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 10%;
    width: 100%;
    margin-bottom: 38px;
    background-color: #4d5ae5;
    
}
button {
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    cursor: pointer;
    position: relative;
}
button::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
}
button span, 
button::after {
    height: 4px;
    width: 80%;
    background-color:darkblue;
    transition: width 500ms, background-color 500ms;
    
}
button:hover span {
    width: 70%;
}
button:hover::after {
   width: 20%;
}
button.active::after {
    width: 0;
}

button.active span {
    background-color: darkblue;
}
button.active span:nth-child(1) {
    width: 70%;
    transform: rotate(30deg) translateY(12px) translateX(4px);
    transition: 500ms;
   
   
}
button.active span:nth-child(2) {
    width: 500%;
    transform: rotate(-30deg) translateY(-12px) translateX(4px);
    transition: 500ms;
}


.post-heading1 {
    border: 2px dashed white;
}


.head {
    font-size: 16px;
    color:brown;
    font-size: 18px; 
    font-weight: 500;
    letter-spacing: .05em;
}
.head {
    flex-grow: 1;
    flex-shrink: 2;
}

.hwloko {
    position: relative;
    transform: translateX(-200%);
    
    background-color: snow;
    border: 1px solid green;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;

    width: 300px;
    height: 500px;
    text-align: center;
}
.geho {
    color: var(--iriscolor);
    letter-spacing: .03em;
    text-decoration: underline;
}
.checkicon {
    position: relative;
    left: 100px;
    bottom: -120px;
}
.smite  {
    position: fixed;
    right: -1px;
    top: 100px;
    
    color:indigo;
    background-color:aqua;
    height: 30vh;
    width: 50vw;
    border: 8px solid blanchedalmond;
    border-radius: 30px;
    padding: 0.5em;
    margin: 25vh auto 0;
    
}
.items2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: .03em;
    line-height: 1.17em;
    background-color: rgb(0, 0, 0, 0.5);
    margin: 0.5em;
    
    
} 
.large {
    font-size: 26px;
    color:#4d5ae5
}
.one {
  flex-grow: 1;
  flex-shrink: 1;
    flex-basis: 250px;
  


}
.two {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    color:blue;     
    


}
.three  {
    color: black;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;

}
.items2 .four {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 250px;
    color: #0a100a;
    
 }
 .five5 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
     
 }
 
 .faith {
    list-style: none;
    text-decoration: none;
 }
h2  ,
 .faith {
    text-align: center;
 }
.faith {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 300px 300px;
    grid-gap: 20px;
    
    
}
.grid1 {
    color:blue;
    background-color:cornflowerblue;
    word-break: break-word;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}
.grid2 {
    color: aqua;
    background-color: #4d5ae5;
    height: 200px;
    overflow: scroll;
}
.grid3 {
    color: aqua;
    background-color: #4d5ae5;
    display: flex;
        align-items: center;
        justify-content: center;
}   
.grid4 {
    color: aqua;
    background-color: #4d5ae5;
}
 
.grid5 {
    color: aqua;
    background-color: #4d5ae5;
}

.grid6 {
    color: aqua;
    background-color: #4d5ae5;
}


    

    
    
    
    


