@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https: //cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css');

:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #404bbf;
    --whitecolor: white;
    --slatecolor: #434455;
    --ashwhite: rgb(242, 237, 237);
    --cloud: #f4f4fd;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
*   

body  {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--slatecolor);
}
.page-header {
    font-family: Raleway;
    display: flex;
    align-items: center;
    height: 24px;
    flex-shrink: 0;
}
.page-header {
    box-sizing: border-box;
    justify-content: space-between;
    width: 1440px;
    height: 72px;
    padding: 30px 5%;
    background-color: var(--cloud);
    max-width: 100%;
    height: auto;
    
}

.logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.02em;
    padding-right: 100px;
}

.logo {
    color: var(--iriscolor);
}

.studio {
    color: var(--navyblue);
}

.nav-menu .page {
    color: var(--navyblue);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    gap: 40px;
}
.nav-menu {
    display: inline-flex;
    align-items: flex-end;
    gap: 40px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32em;
    padding: 20px 50px;
}
.contacts-menu .item {
    color: var(--navyblue);
        text-decoration: none;
        font-weight: 500;
        line-height: 1.15;
        letter-spacing: 0.02em;
        gap: 40px;
}
.contacts-menu {
   display: inline-flex;
   align-items: flex-end;
   gap: 40px;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   float: left;
   /* 150% */
   letter-spacing: 0.32em;
}
.filters {
    display: inline-flex;
    align-items: flex-end;
    gap: 24px;
    padding-top: 100px;
    padding-left: 150px;
    
}

.list {
    list-style-type: none;  
    padding: 0;
    margin: 0;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
    color: var(--iriscolor);
}

.bg-hero {
    background: var(--navyblue);
    text-align: center;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;    
      }
.hero-title {
    color: var(--whitecolor);
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    text-align: center;
    line-height: 60px; 
    font-weight: 700;
    padding: 165px 0;
    letter-spacing: 1.12px;
}
.section.bg-team {
    background-color: var(--cloud);
    display: block;
    max-width: 100%;
    padding: 30;
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    max-width: 100%;
    text-align: center;
    justify-content: center;
}
.button.filter {
    background-color: var(--cloud);
    color: var(--iriscolor);
    font-weight: 500;
    line-height: 1.62;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
    background-color: var(--oceancolor);
    color: var(--cloud);    
}

.button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    display: center;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px
        
}
.button.primary {
    background-color: var(--iriscolor);
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.87px;
    font-weight: 500;
    letter-spacing: 0.05em;
    gap: 10px;
    border-radius: 4px;
    position: relative;
    color: var(--whitecolor);
    text-align: center;
}
.button.primary:hover,
.button.primary:focus {
    background-color: var(--oceancolor);
}
.benefits {
    display: inline-flex;
    width: 280p;
    flex-direction: row;
    gap: 24px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.what-we-do {
    display: inline-flex;
    flex-direction: row;
    width: 280p;
    gap: 24px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.team {
    display: inline-flex;
    flex-direction: row;
    width: 280p;
    gap: 24px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    padding-top: 150px;
   
}
.benefits .description {
    color: var(--slatecolor);
    line-height: 1.71;
    font-size: 16px;
    font-weight: 400;
}
.benefits .title{
   font-size: 20px;
   font-weight: 500;
   color: var(--navyblue); 
}
.description.title {
    font-size: 14px;
    line-height: 1.17;
    color: var(--slatecolor);
}
.section-title {
    text-align: center;
    color: var(--navyblue);
    font-size: 36x;
    font-weight: 700;
    line-height: 1.5px;
    
    
}
.team .name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    text-align: center;
}

.team .position {
    font-weight: 400;
    font-size: 16px;
    color: var(--slatecolor);
    text-align: center;
}
.page-footer.bg-footer {
    background-color: var(--navyblue);
    width: 1440px;
    height: 250px;
    padding: 30px;
    flex-shrink: 0;
  }
.studio-footer {
    color: var(--cloud);
}
.footer-description {
    color: var(--cloud);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
    letter-spacing: 0.32px;
    width: 290px;
    flex-shrink: 0;
     
}
.footer-text {
    padding-top: 80px;
    padding-left: 130px;
    
}
.project {
    text-decoration: none;
}
.project .name {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.project .type {
    color: var(--slatecolor);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
}