@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #2196F3;
    --whitecolor: white;
    --slatecolor: #434455;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: var(--whitecolor);
    letter-spacing: 0.01em;
}
.link-logo {
    text-decoration: none;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 26px;
    line-height: 1.5;
    font-weight: 800;
}

.web-logo {
    color: var(--iriscolor);
}

.studio-logo {
    color: var(--navyblue);
}

.nav .pages {
    color: var(--navcolor);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.05em;
}

.lists {
    list-style-type: none;
}

.nav .pages:hover,
.nav .pages:focus,
.nav .pages.currentoption,
.contacts-info .info:hover,
.contacts-info .info:focus {
    color: var(--oceancolor);
}

.contacts-info .info {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-decoration: none;
}  
.bg-section-1 {
    background: var(--navyblue);
    text-align: center;
    width: 1440px;
    height: 600px;
    line-height: 60px;
    left: 0px;
    top: 72px;
}
.h1-title {
    color: var(--whitecolor);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
}
.btn {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inherit;
}
.btn.primary {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05;
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: hotpink;
}
.btn.filter {
    background-color: var(--whitecolor);
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 10px;
}
.btn.filter:hover,
.btn.filter:focus,
.btn.filter.primary {
    background-color: var(--oceancolor);
    color: var(--whitecolor);
}

.babelist.parentlist {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: var(--slatecolor);
}
.gradetitle {
    text-align: center;
    color: var(--navyblue);
    font-size: 36x;
    font-weight: 700;
    line-height: 1.5px;
    letter-spacing: 0.05em
}
.teammates {
    text-align: center;
    color: var(--navyblue);
    font-size: 36x;
    font-weight: 700;
    line-height: 1.5px;
    letter-spacing: 0.05em;
}    
.teamnames {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--navyblue);
}

.title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--slatecolor);
}
.botbg {
    background-color: var(--navyblue);
}
.studio-logo1 {
    color: white;
}
.footress {
    color: white;
    width: 265px;
    height: 20p;
    top: 3300px;
    left: 156px;
    font-weight: 400;
}
.pictures {
    text-decoration: none;
}
.pictures .parentlists2 {
    color: var(--navcolor);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.pictures .babelist2 {
    color: var(--navcolor);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}