@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --iriscolor: #4d5ae5;
    --navyblue: #2E2F42;
    --navcolor: black;
    --oceancolor: #2196F3;
    --whitecolor: white;
    --slatecolor: #434455;
    --ashwhite: rgb(242, 237, 237);
    --cloud: #f4f4fd;
}
body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--slatecolor);
    font-size: 16px;
}
.page-header {
    font-family: Raleway;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
}

.logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.02em;
}

.logo {
    color: var(--iriscolor);
}

.studio {
    color: var(--navyblue);
}

.nav-menu .page {
    color: var(--navyblue);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
}
.nav-menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}
.contacts-menu {
    display: inline-flex;
    align-items: flex-end;
    gap: 40px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}
.filters {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.list {
    list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .info:hover,
.contacts-menu .info:focus {
    color: var(--iriscolor);
}

.contacts-menu .item {
    color: var(--slatecolor); 
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}  
.bg-hero {
    background: var(--navyblue);
}
.hero-title {
    color: var(--whitecolor);
    font-size: 56px;
    color: var(--whitecolor);
    line-height: 60px;
    letter-spacing: 0.04em;
}
bg-team {
    background-color: var(--cloud);
}
.button.filter {
    background-color: var(--cloud);
    color: var(--iriscolor);
    font-weight: 500;
    line-height: 1.62;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.primary {
    background-color: var(--oceancolor);
    color: var(--cloud);    
}

.button {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.03em;
    font-weight: 500;
    line-height: 1.5;
    font-family: inherit;
}
.button.primary {
    background-color:var(--iriscolor)
    color: var(--whitecolor);
    line-height: 1.87;
    letter-spacing: 0.05;
}
.button.primary:hover,
.button.primary:focus {
    background-color: var(--oceancolor);
}

.benefits .description {
    color: var(--slatecolor);
    line-height: 1.71;
    font-size: 16px;
    font-weight: 400;
}
.benefits .title {
   font-size: 20px;
   font-weight: 500;
   color: var(--navyblue);
}
.description.title {
    font-size: 14px;
    line-height: 1.17;
    color: var(--slatecolor);
}
.section-title {
    text-align: center;
    color: var(--navyblue);
    font-size: 36x;
    font-weight: 700;
    line-height: 1.5px;
}
.team .name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}

.team .position {
    font-weight: 400;
    font-size: 16px;
    color: var(--slatecolor);
}
.page-footer.bg-footer {
    background-color: var(--navyblue);
}
.studio-footer {
    color: var(--cloud);
}
.footer-description {
    color: var(--cloud);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  /* 150% */
    display: flex;
    letter-spacing: 0.32px;
}
.project {
    text-decoration: none;
}
.project .name {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.project .type {
    color: var(--slatecolor);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
}
